apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-api-demo-res
  labels:
    app: go-api-demo-res
spec:
  replicas: 2
  selector:
    matchLabels:
      app: go-api-demo-res
  template:
    metadata:
      labels:
        app: go-api-demo-res
    spec:
      containers:
      - name: go-api-demo
        image: lcostea/go-api-demo:0.1.0
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"