apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-api-demo-readiness
  labels:
    app: go-api-demo-readiness
spec:
  replicas: 3
  selector:
    matchLabels:
      app: go-api-demo-readiness
  template:
    metadata:
      labels:
        app: go-api-demo-readiness
    spec:
      containers:
      - name: go-api-demo
        image: lcostea/go-api-demo:0.1.0
        readinessProbe:
          httpGet:
            path: /ready
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 6